version: 2.1
executors:
  my-executor:
    docker:
      - image: nuitsjp/mdview:2.5

jobs:
  build:
    executor: my-executor
    steps:
      - checkout
      - run:
          name: Build PDF
          command: |
            review-pdfmaker config.yml
          working_directory: ./src
      - store_artifacts:
          path: ./src/book.pdf
          destination: book.pdf
